/* Reseteo básico de márgenes */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #010101;
  background-color: #f4f6f8;

}

/* Barra del encabezado */
.navbar {
  display: flex;
  justify-content: space-between; /* Separa el logo a la izquierda y el menú a la derecha */
  align-items: center; /* Alinea verticalmente los elementos al centro */
  background-color: #FF5824; /* Color de fondo oscuro */
  padding: 15px 30px;
}

/* Contenedor de logo + nombre */
.brand {
  display: flex;
  align-items: center;
  gap: 377px; /* Espacio entre la imagen del logo y el texto */
  text-decoration: none; /* Elimina subrayado de enlaces */
}


/* Control del tamaño del logotipo */
.logo {
  width: 220px; /* Ajusta este valor según la escala de tu imagen */
  height: auto;
  border-radius: 6px;
}

/* Nombre de la marca */
.brand-name {
  color: #f7f3f3;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Estilo para los enlaces del menú */
.nav-links a {
  color: #e2e8f0;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #0caeff; /* Cambia de color al pasar el cursor */
}
/* Resalta el enlace activo */
.nav-links a.active {
  color: #38bdf8;
  font-weight: bold;
  border-bottom: 2px solid #38bdf8;
}

/* Estilo básico del contenido principal */
.content {
  padding: 40px;
  text-align: center;

}
/* CSS para mantener el reproductor siempre visible */
.audio-player-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1e293b;
  color: #fff;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.3);
  z-index: 1000;
}

.live-badge {
  background-color: #ef4444;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
  margin-right: 10px;
}